<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahrtolia.dao.MainMapper">
    <resultMap id="type1Map" type="com.ahrtolia.entity.Type1">
        <id property="id" column="t1Id"></id>
        <result property="name" column="t1Name"></result>
        <collection property="type2" ofType="com.ahrtolia.entity.Type2">
            <id property="id" column="t2Id"></id>
            <result property="name" column="t2Name"></result>
            <collection property="type3" ofType="com.ahrtolia.entity.Type3">
                <id property="id" column="t3Id"></id>
                <result property="name" column="t3Name"></result>
            </collection>
        </collection>
        <!--mybatis 支持将多表连接查询出来的结果封装成对象-->
    </resultMap>
<!--    +&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+
    | t1Id | t1Name   | t2Id | t2Name     | t3Id | t3Name   |
    +&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+
    |  697 | 家用     |  697 | 洗漱       |  697 | 洗发     |
    |  697 | 家用     |  697 | 洗漱       |  698 | 梳子     |
    |  697 | 家用     |  697 | 洗漱       |  729 | 创可贴   |
    |  697 | 家用     |  697 | 洗漱       |  730 | 消毒品   |
    |  697 | 家用     |  697 | 洗漱       |  731 | 体温计   |
    |  697 | 家用     |  713 | 游戏       |  732 | 叉子     |
    |  697 | 家用     |  713 | 游戏       |  733 | 毛笔     |
    |  698 | 化妆品   |  705 | 中年营养品 |  706 | 脑白金   |
    |  698 | 化妆品   |  706 | 小孩零食   |  707 | 大型     |
    |  698 | 化妆品   |  721 | 零食       |  716 | 珍珠     |
    |  698 | 化妆品   |  722 | 工具       |  717 | 钻石     |
    |  699 | 运动系列 |  698 | 面部护理   |  699 | 锅       |
    |  699 | 运动系列 |  699 | 餐具       |  700 | 坚果     |
    |  699 | 运动系列 |  714 | 动漫       |  709 | 美妆     |
    |  699 | 运动系列 |  714 | 动漫       |  722 | 被子     |
    |  699 | 运动系列 |  715 | 影视       |  710 | 洗护     |
    |  699 | 运动系列 |  715 | 影视       |  723 | 被罩     |
    |  699 | 运动系列 |  724 | 建材       |  719 | 儿童床   |
    |  700 | 电子产品 |  700 | 位具       |  701 | 蜜饯     |
    |  700 | 电子产品 |  701 | 零食       |  702 | 孕期教育 |
    |  700 | 电子产品 |  716 | 家电       |  711 | 眼睛     |
    |  700 | 电子产品 |  716 | 家电       |  724 | 茶几     |
    |  700 | 电子产品 |  717 | 数码       |  712 | 书架     |
    |  700 | 电子产品 |  717 | 数码       |  725 | 电视柜   |
    |  700 | 电子产品 |  725 | 汽车       |  720 | 床垫     |
    |  701 | 吃货必备 |  702 | 手机       |  703 | 华为手机 |
    |  701 | 吃货必备 |  718 | 影视       |  713 | 花架     |
    |  701 | 吃货必备 |  718 | 影视       |  726 | 衣柜     |
    |  701 | 吃货必备 |  726 | 二手品     |  721 | 床单     |
    |  702 | 打折促销 |  703 | 手环       |  704 | 联想手机 |
    |  702 | 打折促销 |  704 | 老年营养品 |  705 | 小米手环 |
    |  702 | 打折促销 |  707 | 旅行箱     |  708 | 小型     |
    |  702 | 打折促销 |  719 | 美食       |  714 | 电脑椅   |
    |  702 | 打折促销 |  719 | 美食       |  727 | 桌布     |
    |  702 | 打折促销 |  720 | 生鲜       |  715 | 餐桌     |
    |  702 | 打折促销 |  720 | 生鲜       |  728 | 抱枕     |
    |  702 | 打折促销 |  723 | 装修       |  718 | 项链     |
    +&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+-->
    <select id="getAllType1" resultMap="type1Map">
        select t1.id as t1Id,t1.name as t1Name,t2.id as t2Id,t2.name as t2Name ,t3.id as t3Id,t3.name as t3Name
        from type1 t1,type2 t2,type3 t3 where t3.parentId = t2.id and t2.parentId = t1.id;
    </select>

<!--得到所有的促销信息-->
    <select id="getAllNews" resultType="com.ahrtolia.entity.News">
        select * from news;
    </select>
    <!--模糊查询-->
    <select id="searchProduct" resultType="com.ahrtolia.entity.Product">
        select * from product where name like #{arg0} limit #{arg1},#{arg2};
    </select>
    <!--查询模糊查询结果的数量-->
    <select id="searchProductCount" resultType="int">
         select count(*) from product where name like #{agr0};
    </select>
    <select id="getProductByType1" resultType="com.ahrtolia.entity.Product">
        select * from product where type1Id = #{arg0} limit #{arg1},#{arg2};
    </select>
    <select id="getProductCountByType1" resultType="int">
         select count(*) from product where type1Id = #{agr0};
    </select>
    <select id="getProductByType2" resultType="com.ahrtolia.entity.Product">
        select * from product where type2Id = #{arg0} limit #{arg1},#{arg2};
    </select>
    <select id="getProductCountByType2" resultType="int">
         select count(*) from product where type2Id = #{agr0};
    </select>
    <select id="getProductByType3" resultType="com.ahrtolia.entity.Product">
        select * from product where type3Id = #{arg0} limit #{arg1},#{arg2};
    </select>
    <select id="getProductCountByType3" resultType="int">
         select count(*) from product where type3Id = #{agr0};
    </select>
    <select id="getNews" resultType="com.ahrtolia.entity.News">
        select * from news limit #{arg0},#{arg1};
    </select>
    <select id="getNewsCount" resultType="int">
        select  count(*) from news;
    </select>
</mapper>
